@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.category-card {
  @apply text-center p-10 rounded-2xl text-black hover:text-white hover:bg-blue-400 transition-colors ease-linear;
}

.subCategory {
  @apply ml-10 pr-4 h-0 overflow-hidden transition-all ease-linear duration-200;
}

.showSubCategory {
  @apply mt-2 h-auto;
}

.activeCategory {
  @apply bg-gray-900;
}

.navDropdown_Ul li {
  @apply p-3 cursor-pointer hover:bg-gray-500 rounded;
}

.navDropdown {
  @apply absolute bg-gray-700 p-5 right-2 rounded h-0 hidden transition-all ease-linear;
}

.showNavDropdown {
  @apply block h-auto;
}

.AsideLeftOfDashboard {
  @apply h-screen overflow-y-scroll bg-gray-800 text-white w-full sticky top-12;
}

.AsideLeftOfDashboard li {
  @apply py-4 px-2 hover:bg-gray-900;
}
/* ========= custom scrollbar ============*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-900;
  border-radius: 5px;
}
